*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  margin: 0 auto;
  max-width: 1440px;
  width: 100vw;

  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  display: flex;
  flex-direction: column;
  gap: 2em;
}

header {
  background-color: #111827;
  border: 1px solid transparent;

  padding: 0.5em 1em;
}
nav {
  padding: 0.5em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav > a {
  all: unset;
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  cursor: pointer;
}
nav > input {
  border: none;
  outline: none;
  padding: 1em 2em;
  border-radius: 5px;
  font-size: 1.03rem;
}
nav > input:focus {
  outline: none;
}

nav > input::placeholder {
  font-size: 1.03rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 1em;
}

/* CSS */
.btn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.btn:hover {
  background-color: #374151;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn:hover {
  background-color: #374151;
}

.btn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn:active {
  scale: 0.9;
}

@media (min-width: 768px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
main > input,
main > textarea {
  outline: none;
  border: none;
  width: 60%;
  padding: 1em 2em;
  border-radius: 7px;
  resize: none;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
main > input:focus,
main > textarea:focus {
  outline: none;
}

main > input,
::placeholder,
main > textarea::placeholder {
  font-size: 1.1rem;
}
button {
  all: unset;
  padding: 1em 3em;
  border: 1px solid white;
  background-color: rgb(26, 26, 25);
  color: white;
  cursor: pointer;
}
.container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding: 1em;
}
.card {
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0.7em;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.top {
  display: flex;
  justify-content: space-between;
  color: rgb(20, 19, 20);
  cursor: pointer;
}
.delete {
  font-size: 1.7rem;
  color: rgb(44, 42, 42);
}
.delete:active {
  scale: 0.9;
}

.notesEmpty {
  color: rgb(36, 6, 61);
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
}
#textContainer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.title {
  font-size: 2.2rem;
  color: #370d9b;
}
.description {
  font-size: 1.3rem;
  color: rgb(211, 211, 211);
  font-weight: 800;
}
.date {
  list-style: none;
  font-style: 1.1rem;
  font-weight: bold;
  color: #000000;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 1500ms;
  display: none;
}

.popup {
  margin: 40px auto;
  padding: 30px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  position: relative;
  transition: all 1s ease-in-out;
  
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 0.9rem;
  padding-right: 1em;
}
.popup .close {
  position: absolute;
  top: 22px;
  right: 20px;
  margin-left: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #d81406;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 800px) {
  .container {
    justify-content: center;
  }
  nav {
    justify-content: center;
    gap: 2em;
  }
  main > input,
  main > textarea {
    width: 100%;
  }
  .popup{
    width:80%;
  }
}
